Repository MetaCubeX/metacubexd: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, prettier --write

.lintstagedrc.yml:

'package.json': 'sort-package-json'
# '*.{js,jsx,ts,tsx}': 'eslint --fix' # avoid error: ESLintIgnoreWarning: The ".eslintignore" file is no longer supported. Switch to using the "ignores" property in "eslint.config.js": https://eslint.org/docs/latest/use/configure/migration-guide#ignoring-files
'*.{js,jsx,ts,tsx,md,html,css,json,yml,yaml}': 'prettier --write'

chore(main): release 1.219.0
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

chore(main): release 1.219.0 (#1769)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix(release): remove unnecessary load option from Docker build step
  .github/workflows/release.yml
Due: prettier --write

chore(main): release 1.219.1
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

chore(main): release 1.219.1 (#1770)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

fix: update project dependencies to latest versions for improved stability
  pnpm-lock.yaml
Due: prettier --write

chore(main): release 1.219.2
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

chore(main): release 1.219.2 (#1771)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

feat: integrate TanStack Query for improved data fetching and state management
  composables/useQueries.ts
  nuxt.config.ts
  pages/config.vue
  pages/rules.vue
  plugins/vue-query.ts
Due: prettier --write

feat: add blank layout and global authentication middleware
  layouts/blank.vue
  middleware/auth.global.ts
  pages/setup.vue
Due: prettier --write

fix: enhance DataTable styling and update logs settings layout
  components/DataTable.vue
  pages/logs.vue
Due: none

chore: update code structure and remove redundant changes
  components/Header.vue
  components/LangSwitcher.vue
  components/LogoText.vue
  components/ProxyNodeCard.vue
  components/ProxyNodeListItem.vue
  components/ThemeSwitcher.vue
  composables/useDataTable.ts
  i18n/en.ts
  i18n/ru.ts
  i18n/zh.ts
  package.json
  pages/config.vue
  pages/connections.vue
  pages/logs.vue
  pages/rules.vue
  pages/setup.vue
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

feat: add connection details and metadata display in connections page
  i18n/en.ts
  i18n/zh.ts
  pages/connections.vue
Due: prettier --write

feat: add connections pagination, settings modal, table, and toolbar components
  components/connections/ConnectionDetailsModal.vue
  components/connections/ConnectionsPagination.vue
  components/connections/ConnectionsSettingsModal.vue
  components/connections/ConnectionsTable.vue
  components/connections/ConnectionsToolbar.vue
  components/connections/index.ts
  pages/connections.vue
Due: prettier --write

feat: add Twemoji support and update font configuration options
  assets/css/main.css
  constants/index.ts
  i18n/en.ts
  i18n/zh.ts
  layouts/default.vue
  pages/config.vue
  stores/config.ts
Due: prettier --write

fix: improve table header and data row styling for better mobile responsiveness
  components/connections/ConnectionsTable.vue
Due: none

fix: adjust div class for better overflow handling in ConnectionsTable component
  components/connections/ConnectionsTable.vue
Due: none

fix: update lint script to automatically fix issues with eslint
  package.json
Due: sort-package-json, prettier --write

feat: update screenshot script and add vitest configuration
  composables/useApi.ts
  composables/useMockData.ts
  composables/useQueries.ts
  composables/useWebSocket.ts
  docs/mobile/config.png
  docs/mobile/connections.png
  docs/mobile/logs.png
  docs/mobile/overview.png
  docs/mobile/proxies.png
  docs/mobile/rules.png
  docs/pc/config.png
  docs/pc/connections.png
  docs/pc/logs.png
  docs/pc/overview.png
  docs/pc/proxies.png
  docs/pc/rules.png
  e2e/pages.spec.ts
  layouts/default.vue
  package.json
  pnpm-lock.yaml
  scripts/screenshot.ts
  vitest.config.ts
Due: sort-package-json, prettier --write

feat: update workflows and Dockerfile for Nuxt migration
  .github/workflows/e2e.yml
  .github/workflows/release.yml
  Dockerfile
Due: prettier --write

feat: migrate to mock mode configuration in Nuxt setup
  .github/workflows/e2e.yml
  .github/workflows/release.yml
  composables/useApi.ts
  nuxt.config.ts
  package.json
Due: sort-package-json, prettier --write

feat: update dependencies and configuration for improved compatibility
  .commitlintrc.yml
  .github/workflows/e2e.yml
  .github/workflows/release.yml
  layouts/blank.vue
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

feat: migrate documentation and configuration to Nuxt 4 with Vue 3
  .github/copilot-instructions.md
  .vscode/settings.json
Due: prettier --write

feat: enhance build and middleware for mock mode support
  .github/workflows/release.yml
  middleware/auth.global.ts
  package.json
Due: sort-package-json, prettier --write

chore: update Node version and refine README instructions
  .node-version
  README.md
Due: prettier --write

Update middleware/auth.global.ts
  middleware/auth.global.ts
Due: prettier --write

feat: integrate i18n and font support in Nuxt configuration
  assets/css/main.css
  assets/fonts/FiraSans-Regular.ttf
  components/DataUsageTable.vue
  components/LangSwitcher.vue
  composables/index.ts
  composables/useI18n.ts
  constants/index.ts
  i18n/en.ts
  i18n/index.ts
  i18n/locales/en.json
  i18n/locales/ru.json
  i18n/locales/zh.json
  i18n/ru.ts
  i18n/zh.ts
  nuxt.config.ts
  package.json
  pages/connections.vue
  pages/proxies.vue
  pages/rules.vue
  pnpm-lock.yaml
  stores/config.ts
  utils/index.ts
Due: sort-package-json, prettier --write

chore: remove unused PWA assets configuration file
  pwa-assets.config.ts
Due: prettier --write

refactor: transition from Caddy to Node.js server
  Caddyfile
  Dockerfile
  docker-entrypoint.sh
Due: none

chore: enhance linting configuration in .lintstagedrc.yml
  .lintstagedrc.yml
Due: prettier --write

chore(main): release 1.220.0
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

chore(main): release 1.220.0 (#1778)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

feat: update nuxt.config.ts for relative asset paths and adjust GitHub workflow for base URL
  .github/workflows/release.yml
  nuxt.config.ts
Due: prettier --write

chore(main): release 1.221.0
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

chore(main): release 1.221.0 (#1779)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

chore: update GitHub workflows to use macOS for testing environments
  .github/workflows/e2e.yml
  .github/workflows/release.yml
Due: prettier --write
