Repository MetaCubeX/metacubexd: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, prettier --write

.lintstagedrc.yml:

'package.json': 'sort-package-json'
# '*.{js,jsx,ts,tsx}': 'eslint --fix' # avoid error: ESLintIgnoreWarning: The ".eslintignore" file is no longer supported. Switch to using the "ignores" property in "eslint.config.js": https://eslint.org/docs/latest/use/configure/migration-guide#ignoring-files
'*.{js,jsx,ts,tsx,md,html,css,json,yml,yaml}': 'prettier --write'

build(deps): merge all Dependabot dependency updates (#1559)
  package.json
  pnpm-lock.yaml
  src/pages/Connections.tsx
  src/pages/Proxies.tsx
  src/pages/Rules.tsx
Due: sort-package-json, prettier --write

style: adjust form style
  src/components/ConnectionsSettingsModal.tsx
  src/components/LogsSettingsModal.tsx
  src/components/ProxiesSettingsModal.tsx
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
  src/pages/Config.tsx
Due: prettier --write

style: adjust form style (#1561)
  src/components/ConnectionsSettingsModal.tsx
  src/components/LogsSettingsModal.tsx
  src/components/ProxiesSettingsModal.tsx
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
  src/pages/Config.tsx
Due: prettier --write

feat: format IPv6 and adjust style
  src/helpers/global.ts
  src/pages/Connections.tsx
Due: prettier --write

style: text align
  src/pages/Connections.tsx
Due: prettier --write

feat: format IPv6 and adjust style (#1562)
  src/helpers/global.ts
  src/pages/Connections.tsx
Due: prettier --write

chore(main): release 1.191.0
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

chore(main): release 1.191.0 (#1564)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

feat: verify API endpoint with `/version` (#1568)
  src/apis/index.ts
Due: prettier --write

feat: verify API endpoint with `/version` (#1568) (#1569)
  src/apis/index.ts
Due: prettier --write

chore(main): release 1.192.0
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

chore(main): release 1.192.0 (#1570)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

chore: add pnpm workspace configuration file with neverBuiltDependencies set to an empty array
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: sort-package-json, prettier --write

feat: change mobile navbar to bottom nav
  src/components/Header.tsx
Due: prettier --write

feat: change mobile navbar to bottom nav (#1610)
  src/components/Header.tsx
Due: prettier --write

chore(main): release 1.193.0
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

chore(main): release 1.193.0 (#1611)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

feat: connections table virtual scroll
  package.json
  pnpm-lock.yaml
  src/pages/Connections.tsx
Due: sort-package-json, prettier --write

chore(main): release 1.194.0
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

chore(main): release 1.194.0 (#1612)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

chore: upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore: add @prettier/plugin-oxc to prettier plugin list
  .prettierrc
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix: virtual table render at bottom in Gecko engine based browser
  src/pages/Connections.tsx
Due: prettier --write

fix: virtual table render at bottom in Gecko engine based browser (#1645)
  src/pages/Connections.tsx
Due: prettier --write

chore(main): release 1.194.1
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

chore(main): release 1.194.1 (#1647)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

build: install corepack and configure pnpm in Dockerfile
  Dockerfile
Due: none

chore(main): release 1.195.0
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

chore(main): release 1.195.0 (#1650)
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

feat: add Data Usage tracking table with real-time monitoring
  auto-imports.d.ts
  package.json
  pnpm-lock.yaml
  src/components/DataUsageTable.tsx
  src/components/index.ts
  src/helpers/time.ts
  src/pages/Overview.tsx
  src/signals/connections.ts
  src/types/index.d.ts
Due: sort-package-json, prettier --write

feat: add Data Usage tracking table with real-time monitoring
  pnpm-lock.yaml
  src/components/DataUsageTable.tsx
  src/components/index.ts
  src/helpers/time.ts
  src/pages/Overview.tsx
  src/signals/connections.ts
  src/types/index.d.ts
Due: prettier --write

fix: move data usage monitoring to global effect for persistent tracking
  src/components/DataUsageTable.tsx
  src/pages/Overview.tsx
  src/signals/connections.ts
Due: prettier --write

feat: localize Data Usage Table with i18n support
  package.json
  pnpm-lock.yaml
  src/components/DataUsageTable.tsx
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
  src/index.css
  src/signals/connections.ts
Due: sort-package-json, prettier --write

feat: add Data Usage tracking table with real-time monitoring (#1671)
  package.json
  pnpm-lock.yaml
  src/components/DataUsageTable.tsx
  src/components/index.ts
  src/helpers/time.ts
  src/i18n/en.ts
  src/i18n/ru.ts
  src/i18n/zh.ts
  src/index.css
  src/pages/Overview.tsx
  src/signals/connections.ts
  src/types/index.d.ts
Due: sort-package-json, prettier --write
